:root {
   --primary-brand: #4d5ae5; /*--IRIS--*/
   --pressed-state: #404bbf; /*--OCEAN--*/
   --dark: #2e2f42; /*--NAVYBLUE--*/
   --success: ##31d0aa; /*--GREEN--*/
   --text: #434455; /*--SLATE--*/
   --subtle-text: #8e8f99; /*--LIGHT SLATE--*/
   --accent: #e7e9fc; /*--CORNFLOWWER--*/
   --light: #f4f4fd; /*--CLOUD--*/
   --model-overlay: #2e2f42; /*--NAVY BLUE MODAL--*/
   --hero-background: #2e2f42; /*--GREY--*/
}

.hidden-title {
   display: none;
}

body {
   font-family: "Roboto", sans-serif;
   color: var(--text);
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

.logo {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--primary-brand);
}

.logo-studio {
   color: var(--dark);
}

.section-title {
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--dark);
}

.btn {
   cursor: pointer;
}

.btn:hover,
.btn:focus {
   cursor: pointer;
   color: #ffffff;
   background-color: var(--primary-brand);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 4px;
}

.btn:active {
   color: #ffffff;
   background-color: var(--pressed-state);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

/*-------just for me------*/
/*ul {
   display: flex;
   max-width: 1128px;
   flex-wrap: wrap;
   justify-content: space-between;
}*/

/*=======================HEADER=======================*/

.menu {
}

.menu-item {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-decoration: none;
}

.menu-item-link {
   color: var(--dark);
}

.menu-item-link:hover,
.menu-item-link:focus {
   color: var(--pressed-state);
   border-bottom: var(--primary-brand);
   border-bottom-width: 4px;
   border-bottom-style: solid;
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
   border-radius: 2px;
   border-top-right-radius: 2px;
}

.contacts {
   font-style: normal;
}

.contact-item-link {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text);
}

.contact-item-link:hover,
.contact-item-link:focus {
   color: var(--pressed-state);
}

/*=======================MAIN=======================*/
/*=======================**HERO**=======================*/

.hero {
   width: 1440px;
   height: 600px;
   background-color: var(--hero-background);
}

.main-title {
   font-style: normal;
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
}

.order-btn {
   font-family: inherit;
   font-weight: 500;
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   align-items: center;
   letter-spacing: 0.04em;
   color: #ffffff;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 16px 32px;
   gap: 10px;
   position: absolute;
   height: 56px;
   left: 636px;
   top: 428px;
   background-color: var(--primary-brand);
   border-radius: 4px;
   border-color: var(--primary-brand);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.order-btn-text {
}

/*=======================**Features**=======================*/

.features {
}

.feature-title {
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--dark);
}

.feature-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

/*=======================**What are we doing**=======================*/

.team {
   background-color: var(--light);
}

.team-member-title {
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--dark);
}

.team-member-position {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text);
}

/*=======================FOOTER=======================*/

.page-bottom {
   width: 1440px;
   height: 310px;
   background-color: var(--dark);
}

.bottom-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--light);
}

.bottom-logo-studio {
   color: var(--light);
}

/*<<<===-------------------------Portfolio---------------------------===>>>*/
/*=======================Main=======================*/
/*=======================Filters=======================*/
.filter-btn {
   font-family: inherit;
   width: 116px;
   height: 48px;
   background-color: var(--light);
   border: 1px solid var(--accent);
   border-radius: 4px;
   color: var(--primary-brand);
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
}

/*=======================Projects=======================*/

.project-title {
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--dark);
}

.project-product {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text);
}
